<link rel="stylesheet" href="../static/css/style.css" />
<header class="header">
  <title>Portfólio</title>
  <div class="container_geral flex">

    <div class="box1 flex">
        <img class=logo src="..\static\img\header.gif" width="130"/> 
    </div>


    <div class="box2 flex">
        <div class="container2 celeste">
            <a class="nombre">LEONARDO ACOSTA</a>
        </div> 

        <div class="container2">


            <nav class="navigation">
                <ul class="show">
                  <li class="show"> <a class="show" href="#first">Sobre mim</a> </li>
                  <li class="show"> <a class="show" href="#habilidades">Habilidades</a> </li>
                  <li class="show"> <a class="show" href="#contato">Contato</a> </li>
                </ul>
            </nav>
        </div>

    </div>

  </div>
</header>





