<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="../static/css/stylemenu.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-32x32.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Porfolio</title>
  </head>
<body>

<!-- MENU -->

{% include 'header.html' %} 
<br><br><br><br><br><br><br><br><br>
<!-- FIM DO MENU     -->

<section id="first">

  <div id="img-rocket">
     <img src="..\static\img\foto_protfolio.jpeg" alt="Foguete">
  </div>

  <div id="first-text">
    <p>"Olá, eu sou o Leonardo! Vou te contar um pouco sobre mim... sou Engenheiro Civil de profissão, e como todo engenheiro, a programação sempre está perto, tão assim que decidi mudar meu foco, e me mergulhei de cheio no mundo da programação. Hoje faço parte da BlueEdtech, onde uns dos fundamentos principais é a mão na massa e este portfolio é parte disso. "
    </p>
 </div>

</section>

<section id="sobre">

  <div id="texto-sobre">
     <p>
      Me considero uma pessoa séria, responsável, com muitas ganhas de trabalhar e aprender. 
      Com facilidade de adaptação e capacidade de trabalhar em equipe, posei-o capacidade organizativa e logro me desenvolver em situações de alta pressão,
       conto com iniciativa para resolver problemas de forma eficiente e cumprir as metas e objetivos preestabelecidos.

      Meu principal objetivo é me desenvolver profissionalmente na área do Back end,
       de modo que procuro oportunidades que me permitam fortalecer minhas habilidades e absorver o conhecimento da empresa,
        assim como entregar todo meu esforço para alcançar efetivamente os objetivos.
     </p>
  </div>
</section>

<div class="slider" id="slider">
  <figure>
      <img src="../static/img/html.png">
      <img src="../static/img/css.png">
      <img src="../static/img/js.png">
      <img src="../static/img/python.png">
      <img src="../static/img/flask.png">
      <img src="../static/img/Psql.png">
  </figure>
</div>

<section id="habilidades">

  <h2>Habilidades Técnicas</h2>

  <p>HTML 5</p>
  <div>
     <span id="html5">60%</span>
  </div>

  <p>CSS 3</p>
  <div>
     <span id="css3">45%</span>
  </div>

  <p>JavaScript</p>
  <div>
     <span id="js">35%</span>
  </div>

  <p>Python</p>
  <div>
     <span id="python">60%</span>
  </div>

  <p>Flask</p>
  <div>
     <span id="flask">55%</span>
  </div>

  <p>SQL</p>
  <div>
     <span id="sql">60%</span>
  </div>

</section>

<section id="contato">

  <div id="redes">
     <h3>Se conecte comigo </h3>
     <a href="https://www.linkedin.com/in/leoacosta07/" target="_blank">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
     </a>

     <a href="https://github.com/LeoAcosta07" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
     </a>

  </div>

  <h3>Mande uma mensagem</h3>

  <form action='/send' method="POST">
     <label for="nome">Nome</label>
     <input type="text" placeholder="Digite seu nome" id="nome" name="nome">

     <label for="email">E-mail</label>
     <input type="email" placeholder="Digite seu email" id="email" name="email">


     <label for="mensagem">Mensagem</label>
     <textarea name="mensagem" id="mensagem" cols="30" rows="10" placeholder="Digite sua mensagem"></textarea>

     <button class="btn" type="submit" id="enviar">Enviar</button>

  </form>

  <div id="carregamento">
     <p>Enviando mensagem</p>
     <div id="loader"></div>
  </div>
  

</section>



<script src='../static/js/script.js'></script>
</body>
</html>
